# Docker Ignore
Dockerfile
.dockerignore
.git
.gitignore
.github
.husky
node_modules
npm-debug.log
dist
test
docs
coverage
.eslintrc.js
eslint.config.mjs
commitlint.config.mjs
README.md
# We need these for the build stage!
# nest-cli.json
# tsconfig.json
# tsconfig.build.json
# pnpm-lock.yaml
